<h1>Home</h1>

<h2>Tarefas</h2>

<ul>
<% @tasks.each do |t| %>
  <li>
  <%= t.name %> || <%= link_to('Informações', task_path(t)) %>
  </li>
<% end %>
</ul>

<%= link_to('Criar nova', new_task_path) %>
