<h1>Home</h1>

<h2>Tarefas</h2>

<ul>
<% @tasks.each do |t| %>
  <li>
  <%= t.name %> || <a href="/tasks/<%=t.id%>">Informações</a>
  </li>
<% end %>
</ul>

<a href="/tasks/new">Criar nova tarefa</a>
